@font-face {
	font-family: 'Univers LT 55';
	src: url('UniversLT.eot');
	src: url('UniversLT.eot?#iefix') format('embedded-opentype'),
		url('UniversLT.woff') format('woff'),
		url('UniversLT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Univers LT 55';
	src: url('UniversLT-Black.eot');
	src: url('UniversLT-Black.eot?#iefix') format('embedded-opentype'),
		url('UniversLT-Black.woff') format('woff'),
		url('UniversLT-Black.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
