.woocommerce {
	
	.products {
		
		&:before, &:after {
			
			display:none !important;
		
		}
		
		display:block;
	
	}


}

.woocommerce-loop-product__title {
	font-size:.83vw !important;
}
.product {
	
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
    float: none !important;
	
	a {
		
		@include flexbox;
		@include flex-direction(column);
	
	}
	
	&:before {
		
		content:' ' !important;
		display:none !important;
	
	}
	
	img {
	
		display:none !important;
	
	}
	
	.price {
		
		@extend %globalText;
		color:$c-black;
		margin:1em 0 !important;
		display:block;
		font-size:inherit !important;
		
		* {
			
			color:$c-black;
		
		}
	
	}
	
	ul {
		
		margin:0 !important;
		
		&:before, &:after {
			
			display:none !important;
		
		}
		
		
		
		li {
			
			@extend %globalText;
			line-height:1;
			float:left;
			clear:left;
		
		}
		
		
	
	}
	
	.woocommerce-loop-product__title {
		
		margin:0 !important;
		padding:0 !important;
		
	}
	
	.cart {
		
		@include flexbox;
		@include flex-direction(column);
		width:50%;
		min-width:115px;
		
		.quantity {
			
			@include flexbox;
			margin-bottom: 1em;
			
			input {
				
				border:1px solid $c-theme;
				color:$c-black;
			    background-color:#fff;
				color:$c-theme;
				
				&.minus, &.plus {
					
					width:25%;
					height:2em;
					
					&:hover {
						
						background:$c-theme;
						color:$c-white;
					
					}
				
				}
			    //float: left;
				
				&.qty {
					
					@extend %globalText;
					width:50%;
					border-left:none;
					border-right:none;
					height:auto;
					color:$c-black;
				
				}
				
			}
		
		}
		
		.button {
			
			@extend %h6;
			background:$c-theme !important;
			color:$c-white !important;
			border-radius:0 !important;
			margin:0 !important;
			line-height:1.5;
			//float:left;
		
		}
	
	}

}