.cart-link {

	position:absolute;
	bottom:0;
	right:3.36vw;
	margin:0 0 40px 0;
	z-index:4;
	
	&.disabled {
		
		@include opacity(.3);
		pointer-events:none;
	
	}
	
	.cart-open & {
			
		* {
			
			color:$c-theme;
			
		}
	}
}

#cart {
	
	@include transition(transition, transform .4s);
	@include transform(translate(100vw, 0));
	width:100vw;
	position:absolute;
	height:100%;
	left:0;
	top:0;
	
	z-index:1;
	
	.cart-open & {
		
		@include transform(translate(0vw, 0));
	
	}
	
	.inner-cart-container {
		
		margin-left:$left-panel-width-desktop;
		background:$c-white;
		min-height:100%;
		@include flexbox;
		@include align-content(center);
		border-left:2px solid $c-theme;
		
		.cart-table {
			
			@include align-self(center);
			width:$g-lr-margin * 16;
			margin-left:$g-lr-margin * 2;
			
			h1 {
				
				@extend %large-font;
				margin-bottom:40px;
				display:block;
				color:$c-black;
			
			}
			
			.cart-headers {
				
				margin-bottom:15px;
				
				h6 {

					color:$c-theme;
					
				}
			
			}
			
			.cart-items, .cart-actions {
				
				margin-bottom:60px;
			
			}
			
			.cart-item {
				
				.quantity-span {
					
					
					
					.qty-container {
						
						width:50%;
						min-width:115px;
						@include flexbox;
						
					
					}
					
					.qty, .plus, .minus {
					
						border:none;
						background:none;
						color:$c-black;
						width:25%;
				
					}
					
					.qty {
						
						text-align:center;
						width:50%;
					
					}
				
				}
				
			
			}
			
			.cart-headers, .cart-item {
				
				@include flexbox;
				@include flex-direction(row);
				
				.product-span {
					
					width:$g-lr-margin * 5;
				
				}
				
				.quantity-span, .price-span {
					
					width:$g-lr-margin * 4;
				
				}
				
				.total-span {
					
					width:$g-lr-margin * 3;
				
				}
				
			}
			
			.cart-shipping {
				
				margin-bottom:60px;
				
				h6 {
					
					color:$c-theme;
					margin-bottom:15px;
				
				}
				
				.shipping-options {
					
					div {
						margin-bottom:.5em;
					}
					
				
				}
			
			}
			
			.cart-actions {
				
				@include flexbox;
				@include flex-direction(column);
				width:$g-lr-margin * 4;
				
				.global-btn {
					
					display:block;
					margin-bottom:10px;
					
					
					&.update-cart {
						
						border:1px solid $c-theme;
						color:$c-theme;
						
						&:hover {
						
							background:$c-theme;
							color:$c-white;
							
						}
					
					}
					
					&.checkout {
						
						background:$c-theme;
						color:$c-white;
						border:1px solid $c-theme;
					
						&:hover {
							
							background:$c-theme;
							color:$c-white;
						
						}
					
					}
				
				}
			
			}
		
		}
		
	}

}