#left-panel {
	
	.article-content.article-community  {
		
		.page-inner-content {
			
			.page-title {
				
				@extend %maisonBook;
				color:$c-theme;
				margin:0;
	
			}
			
		}

	}

}

.participant-holder {
	
	@include flexbox;
	margin:0 $g-lr-margin;
	margin-left:$left-panel-width;
	
	button {
		
		margin:0 $g-lr-margin/4;
		
		h3 {
			@include opacity(0);
			text-align:left;
			color:$c-theme;
			margin-top:2px;
		
		}
		
		&:hover {
			h3 {
				@include opacity(1);
			}
		}
				
		
		
		img {
			width:100%;
			//width:80%;
		
		}
		
	}

}