#left-panel {
	
	
	
	.article-prints {
	
		@include flexbox;
		@include flex-wrap(wrap);
		@include align-items(center);
	
	
		.article-inner-holder {
			@include flexbox;
			@include flex-wrap(wrap);
			@include align-items(center);
			margin-left:-6px;
		
		}
	
		.page-inner-content {
		
			@include flexbox;
			@include flex-direction(column);
			width:50%;
			text-align:left;
			margin-bottom:0;
		
			.print {
			
				text-align:left;
				margin:0 0 0 6px;
				
				&:hover {
					
					* {
						
						color:$c-theme;
					
					}
				
				}
			
			
				h2 {
					
					margin:0;
					color:$c-theme;
				
				}
				
				.print-author {
					
					@extend %h3;
					color:$c-black;
					text-transform:uppercase;
					
					&:hover {
						
						color:$c-theme;
						
					}				
				}
			
				.print-thumbnail {
				
					width:100%;
					height:4em;
					background-size:cover;
					background-position:center center;
					margin-bottom:15px;
					margin-top:2px;
				
	
				}
	
			}
		
	 
		}

	}

}
	
#right-panel {
	
	article[data-page="prints"] {
		
		.page-inner-content {
			
			@include transition(transition, width .2s, margin .2s);
			
			@extend %bg-image;
			position:absolute;
			left:0;
			top:0;
			display:none !important;
			
			
			
			&.active {
				
				display:block !important;
				cursor:zoom-in;
				
				.print-full-bleed & {
				
					margin-left:0 !important;
					width:100% !important;
					cursor:zoom-out;
			
				}
				
			}
			//width:calc(100vw - ($g-lr-margin * 7))
		}
	
	}

}




