#left-panel {

	@include transition(transition, transform .2s);
	  
	position:absolute;
	width:$left-panel-width-desktop;
	//width:$g-lr-margin * 8;
	//width:50vw;
	height:100%;
	z-index:2;
	border-right:2px solid $c-theme;
	//padding:0 $g-lr-margin;
	background:$c-white;
	background:rgba(255, 255, 255, .95);
	z-index:2;
	
	
	
	.print-full-bleed & {
		
		@include transform(translate(-$left-panel-width-desktop, 0));
	
	}
	
	.main {
		
		
		
		padding:0 $g-lr-margin;
		
		.page-content, .article-content {
			
			@include transition(transition, transform .2s);
			@include transition-delay(0s);
			
			.cart & {
				
				@include transform(translate(-$left-panel-width-desktop, 0));
				@include transition-delay(.4s);
				
			}
			
			.page-inner-content {
				
				margin-bottom:1em;
				
			}
			
		}
		
		article:last-child {
			margin-bottom:50vh;
		}
	}
}