#left-panel {

	
	position:absolute;
	width:($g-lr-margin * 7) - $g-gutter;
	//width:$g-lr-margin * 8;
	//width:50vw;
	height:100%;
	z-index:2;
	border-right:2px solid $c-theme;
	//padding:0 $g-lr-margin;
	background:$c-white;
	background:rgba(255, 255, 255, .5);
	z-index:2;
	//min-width:300px;
	
	.main {
		
		
		
		padding:0 $g-lr-margin;
		
		.page-content {
			border:1px solid blue;
			.page-inner-content {
				
				margin-bottom:1em;
				
			}
			
		}
		
		article:last-child {
			margin-bottom:50vh;
		}
	}
	

}