#right-panel {

	
	position:absolute;
	height:100%;
	z-index:2;
	//background:$c-white;
	width:100vw;
	z-index:1;
	
	.main {
		
		::-webkit-scrollbar { display: none; }
		
		overflow-y:hidden;
		overflow-x:scroll;
		width:100vw;
		
		.inner-main {
			
			position:relative;
			width:10000vw;
			height:100%;
			
			article {
				//outline:1px solid blue;
				position:absolute;
				width:100vw;
				height:100%;
				top:0;
			
				
				&:first-child {
					
					.page-inner-content {
						
						margin-left:($g-lr-margin * 7) - $g-gutter;
						
					}
				
				}
				
				.inner-content {
					
					height:100%;
					
					.page-inner-content {
						
						
						@include flexbox;
						@include align-items(center);
						@include justify-content(center);
						margin-left:($g-lr-margin * 7) - $g-gutter;
					
						height:100%;
						
						
						
						
						img.size-small {
						
							width:$g-lr-margin * 10;
						
						}
					
						img.size-medium {
						
							width:$g-lr-margin * 20;
						
						}
						
						img.size-large {
						
							width:$g-lr-margin * 20;
						
						}
					
					
					}
					
					
				}
			
			}
		
		}
		
		
		
	}
	

}