.wrapper {
	
	height:100%;
	position:relative;
	width:100vw;
	overflow:hidden;
	
}


::-webkit-scrollbar {
	display:none;
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}