.no-trans {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: color 0 ease-in !important;
	transition: none !important;
	
	* {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-o-transition: color 0 ease-in !important;
		transition: none !important;
	}
}

