button {
	
	border-radius:none;
	outline:none;
	border:none;
	
	&:hover, &:active, &:focus {
	
		outline:none;
	
	}

}

.close-button {
	
	position:absolute;
	z-index:99999;
	right:$g-lr-margin;
	top:$g-tb-margin;
	width:22px;
	height:22px;
	display:none;
	
	.print-full-bleed & {
	
		display:block;
		cursor:zoom-out;
	}
	
	img, svg { width:100%; }

}

.global-btn {
	
	@extend %h6;
	padding:1em 1em;
	text-align:center;

}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus, input:active, input:hover {
	
	outline:none;

}

.minus {
    border:none;
    color:#fff;
    background-color:purple;
    height:30px;
    width:30px;
}
.plus {
    border:none;
    color:#fff;
    background-color:purple;
    height:30px;
    width:30px;
}
.qty {
    border:1px solid purple;
    color:purple;
    height:30px;
     
}